ul.side-nav
  li.heading Suscipit distinctio
  li
    a(href='') inventore tempore
  li
    a(href='') nostrum cumque
  li
    a(href='') dolore inventore
  li
    a(href='') consectetur adipisicing
  li
    a(href='') voluptates modi