.row
  .medium-12
    ul.small-block-grid-3
      li.text-center
        a(href='#') Privacy Policy
      li.text-center
        a(href='#') Terms of Use
      li.text-center
        a(href='#') Sitemap

    p.text-center Copyright 2015. All Rights Reserved.