- menu = { home: 'index.html', about: 'about.html', contact: 'contact.html' };

nav(class='top-bar', data-topbar)
  ul.title-area
    li.name
      h1
        a(href='/', class='logo') logo
    li.toggle-topbar.menu-icon
      a(href='#')
        span menu

  section.top-bar-section
    ul.right
      each val, key in menu
        if selected === key
          li.active
            a(href=val)= key
        else
          li
            a(href=val)= key