nav(class='top-bar', data-topbar)
  ul.title-area
    li.name
      h1
        a(href='/', class='logo') logo
    li.toggle-topbar.menu-icon
      a(href='#')
        span menu

  section.top-bar-section
    ul.right
      li.active
        a(href='#') home
      li
        a(href='#') about
      li
        a(href='#') board
      li
        a(href='#') business directory
      li
        a(href='#') events
      li
        a(href='#') blog
      li
        a(href='#') contact
      li
        a(href='#') login
